@import "/assets/css/styles.css";

.about_container {
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    width: 80%
}

.personal-facts-list {
    list-style: none;
    padding: 0;
}

.personal-facts-list-item {
    padding-bottom: 5px;
}

.about_grid {
    display: grid;
    gap: 50px;
}

.grid_1 {
  grid-column: 1 / 2;
  grid-row: 1;
}

.grid_2 {
  grid-column: 2 / 2;
  grid-row: 1;
}

.about_grid_item {
    display: flex;
    flex-direction: column;
}

.about_grid_section_header {
    font-size: 1.4rem;
    padding-bottom: 15px;
}

.about_grid_content_description_header {
    font-weight: bold;
}
.about_grid_content {
    /*text-indent: 25px;*/
    padding-bottom: 15px;
}

.resume-download-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media screen and (max-width: 1020px) {
.grid_1 {
  grid-column: 1;
  grid-row: 1 / 2;
}

.grid_2 {
  grid-column: 1;
  grid-row: 2 / 2;
}
}
