@import "/assets/css/styles.css";
@import "/assets/css/code_highlight.css";

.post-container {
    width: 80%;
}

.author-and-date {
    color: #cc241d;
}

@media screen and (max-width: 1020px) {
.page_header {
    color: red;
}

.post-container {
    width: 95%;
}
}
