* {
    font-family: sans-serif;
    font-size: 16px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: 100px;
}
