* {
    font-family: sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-left: 5%;
    padding-right: 5%;
    flex-grow: 1;
    height: 100%;
}

.home_page_photo {
    width: 35vw;
    border-radius: 6%;
}
.content {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}